@font-face {
    font-family: written;
    src: url('fonts/Activity\ Saturday.otf');
}

* {
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-image: url('images/clover.jpg');
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
}

.grayline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1 1 50%;
    height:200px;
    background-color: rgba(250,250,250,0.75);
}

img {
    width:150px;
    height:auto;
}

logotext {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150px;
}

.signup {
    margin: 25px 25px 25px 25px;
    border-radius: 10px;
    height: 95vh;
    border: 1px solid black;
    box-shadow: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    flex:1 1 40%;
    background-color: white;
}

row {
    margin:20px 25px 20px 25px;
    width: 90%;
    align-items: left;
}

.header {
    font-family: written;
    text-align: left;
    font-size: 40px;
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
input {
    width:100%;
    height:30px;
    font-size: 20px;
}
button {
    height:30px;
    font-size: 20px;
}
.title {
    font-size: 30px;
}
